.list_menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list_searchbox {
  position: relative;
}

.list_searchbox .bx-search {
  position: absolute;
  top: 6px;
  right: 6px;
}

.bx {
  vertical-align: middle;
  font-size: 1.15rem;
  line-height: 1;
}

.SalaryApproveCount_ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.p-2 {
  padding: 0.5rem !important;
}

.SalaryApproveCount_ul li {
  width: 20%;
  text-align: center;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  background-clip: padding-box;
}

.SalaryApproveCount .card-body {
  padding: 0.8rem 1.5rem 0.65rem;
}

.SalaryApproveCount .count {
  font-size: 18px;
  font-weight: 700;
}

.btn-primary {
  color: #fff !important;
  background-color: #0d384d !important;
  border-color: #0d384d !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

.list_searchbox .form-control {
  min-height: calc(1.53em + 0.5rem + 2px);
  padding: 0.3rem 0.625rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  padding-right: 32px;
}

.Salary_revisionCard ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.Salary_revisionCard ul li {
  background-color: #0d384d;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
  width: 25%;
  text-align: center;
}

.staticWidth {
  min-width: 85px !important;
}

.datePicker {
  width: 100%;
}

.textSize {
  font-size: 11px;
}

.controlHeight {
  height: 38px;
}

.footerCalcMat {
  display: flex;
  gap: 20px;
  padding-left: 10px;
  padding-top: 10px;
  list-style-type: none;
}
